//------------------------Colors vars-----------------------//

//--------Base color Website--------//

$DarkShadeBaseColor: #1F2041;
$PurpleBaseColor: #BC9CFF;
$GreenBaseColor: #6FCF97;


//----For button gradient color-----//

$PurpleGradientColor: #8BA4F9;
$GreenGradientColor: #66D2EA;


//-----------Other colors-----------//

$BoxShadowCard: #cccccc;

//------------------------Colors vars-----------------------//

//---------------------------Fonts--------------------------//

$BoldFont: 'Conv_Montserrat-Bold', sans-serif;
$RegularFont: 'Conv_Montserrat-Regular', sans-serif;

$FontSizeH1: 24px;
$FontSizeH2: 19px;
$FontSizeH3: 12px;
$FontSizeBody: 14px;