.contentContainer {
    display: flex;
    justify-content: space-between;
}

.titleText {
    font-family: $boldFont;
    font-size: $fontSizeH3;
    text-transform: uppercase;
}

.titleTextGray {
    font-size: $fontSizeH3;
    text-transform: uppercase;
    color: color(primary-50);
}

.inputColumn {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.inputItem {
    width: 320px;
    margin-bottom: 20px;
}

.dateDropdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
    & .dropdown__button::before {
        left: 70%;
    }
}

.dateDropdown .dropdown {
    width: 150px;
}

.wrapperForm {
    width: 266px;
    margin-bottom: 41px;
    & .dropdown__button::before {
        left: 82%;
    }
}

input[type="submit"]{
    background: url(../img/arrow_forward_email.png) no-repeat 50% 50%;
    height: 44px;
    width: 44px;
    position: absolute;
    right: 0px;
    top: 1px;
    border: none;
}

.titleForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.checkColumn {
    display: flex;
    flex-direction: column;
}

.buttonStock {
  width: 99px;
}

.buttonTitle {
    display: flex;
}

.linkTextContainer {
    display: flex;
}



.checkBoxWrapper{
    margin-bottom: 41px;
}

.titleCheckBox {
    margin-bottom: 17px;
}

.checkBoxItem {
    margin-bottom: 10px;
}

.radioButtonWrapper {
    margin-bottom: 41px;
}

.toggleWrapper {
    margin-bottom: 30px;
}

.toggleCol {
    margin-bottom: 14px;
}

.likeWrapper {
    margin-bottom: 40px;
    & .like {
        margin-right: 10px;
    }
}

.likeCol {
    display: flex;
}

.rateCol {
    display: flex;
    justify-content: space-between;
}

.rateWrapper {
    width: 260px;
}