.form-element {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 140px;
    padding: 0 20px 0 20px;
    &__column {
        display: flex;
        flex-direction: column;
        min-width: 320px;
        & .buttonGradient--arrow::after {
            top: 54%;
            left: 89%;           //Нужно поправить, т.к будет иконка
        }
    }
    &__item {
        width: 320px;
        margin-bottom: 20px;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        &-text {
            font-family: $boldFont;
            font-size: $fontSizeH3;
            text-transform: uppercase; 
        }
    }
    &__date {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 41px;
        & .dropdown__button::before {
            left: 70%;
        }
        &-bs {
            width: 266px;
            margin-bottom: 41px;
            & .dropdown__button::before {
                left: 82%;
            }
        }
    }
    &--gray-text {
        font-size: $fontSizeH3;
        text-transform: uppercase;
        color: color(primary-50);
    }
    &__small-container {
        width: 266px;
    }
    &__date-wrapper {
        width: 150px;
    }
}

// .titleText {
//     font-family: $boldFont;
//     font-size: $fontSizeH3;
//     text-transform: uppercase;
// }

// .titleTextGray {
//     font-size: $fontSizeH3;
//     text-transform: uppercase;
//     color: color(primary-50);
// }

// .inputColumn {
//     display: flex;
//     flex-direction: column;
//     max-width: 320px;
// }

// .inputItem {
//     width: 320px;
//     margin-bottom: 20px;
// }

// .dateDropdown {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 41px;
//     & .dropdown__button::before {
//         left: 70%;
//     }
// }

.dateDropdown .dropdown {
    width: 150px;
}

// .wrapperForm {
//     width: 266px;
//     margin-bottom: 41px;
//     & .dropdown__button::before {
//         left: 82%;
//     }
// }

input[type="submit"]{
    background: url(../img/arrow_forward_email.png) no-repeat 50% 50%;
    height: 44px;
    width: 44px;
    position: absolute;
    right: 0px;
    top: 1px;
    border: none;
    cursor: pointer;
}

// .titleForm {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 5px;
// }

// .checkColumn {
//     display: flex;
//     flex-direction: column;
// }

.buttonStock {
  width: 99px;
}

.buttonTitle {
    display: flex;
    margin-bottom: 16px;
}

.linkTextContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 142px;
}

.linkText h3 {
    font-family: $boldFont;
    font-size: $fontSizeH3;
}

.checkBoxWrapper{
    margin-bottom: 41px;
}

.titleCheckBox {
    margin-bottom: 17px;
}

.checkBoxItem {
    margin-bottom: 10px;
}

.radioButtonWrapper {
    margin-bottom: 41px;
}

.toggleWrapper {
    margin-bottom: 30px;
}

.toggleCol {
    margin-bottom: 14px;
}

.likeWrapper {
    margin-bottom: 40px;
    & .like {
        margin-right: 10px;
    }
}

.likeCol {
    display: flex;
}

.rateCol {
    display: flex;
    justify-content: space-between;
}

.rateWrapper {
    width: 260px;
}

// .buttonColumn {
//     width: 320px;
//     & .buttonGradient--arrow::after {
//         top: 54%;
//         left: 89%;
//     }
// }

.sliderWrapper {
    margin-bottom: 43.56px;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.buttonWrapper {
    width: 218px;
}

.buttonGradientContainer {
    margin-bottom: 40px;
}

.paginationTitle {
    margin-bottom: 16.44px;
}

.paginationContainer {
    width: 241px;
    & p {
    font-size: $fontSizeBody;
    color: color(primary-75);
    text-align: center;
    }
}

// .form-elements__small-container {
//     width: 266px;
// }