.inputContainer
  .titleForm Text Field
  +inputCard({
      text: 'Email',
      modifier: '--mb20'
  })
  .titleForm Text Field
  +inputCard({
      text: 'This is pretty awesome',
      modifier: '--active'
  })