.footer {
    height: 372px;
    box-shadow: 0px 1px 0px $boxShadowCard;
    background-color: #fff;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    &__wrapper {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 20px;
    }
    &__colLogo {
        max-width: 260px;
        font-size: $fontSizeBody;
        color: color(primary-75);
        line-height: 24px;
    }
    &__col {
        & p {
            font-size: $fontSizeBody;
            color: color(primary-75);
            line-height: 24px;
            margin-bottom: 20px;
        }
    }
    &--darkText {
        text-transform: uppercase;
        font-size: $fontSizeH3;
        font-family: $boldFont;
        color: $darkShadeBase;
        margin-bottom: 21px;
    }
    &--mb20 {
        margin-bottom: 20px;
    }
    &--maxWidth {
        max-width: 260px;
        margin-right: 0; //подумать как поменять
    }
    &__inputImage {
        position: relative;
        vertical-align: middle;
    }
    &__social {
        height: 70px;
        box-shadow: 0px 10px 20px $boxShadowCard;
        display: flex;
        align-items: center;
        background-color: #fff;
        & p {
            color: color(primary-75);
            font-size: $fontSizeBody;
        }
    }
    &__social-container {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 20px;
    }
}