include ../../pug/mixins/mixins.pug

.card
    h1.card__title Войти
    +inputCard("--mb10","Email")
    +inputCard("--mb20","Пароль")
    +buttonGradient("--mb30", "войти", "")
    .textButton
        .textButton__caption Нет аккаунта на Toxin?
        +buttonGradientBorder("","создать")