.header {
    height: 70px;
    padding: 0 140px 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        align-items: center;
    }
    &__nav a {
        margin-right: 20px;
    }
}

a {
    text-decoration: none;
    font-family: $RegularFont;
    font-size: $FontSizeBody;
    color: rgba(31, 32, 65, 0.5);;
}

a:nth-child(1) {
    font-family: $BoldFont;
    color: rgba(31, 32, 65, 0.75);
}

.logo {
    background: url(/img/Logo.png); //нужно ссылкой!
    width: 105.69px;
    height: 40px;
    & a {
        display: block;
        height: 100%;
    }
}

//-------Продумать лучше как менять уже готовые блоки----//

.button-bg-out_style-header {
    width: 87px;
    height: 34px;
    margin-right: 20px;
}

.button-gradiend_style-header {
    width: 196px;
    height: 34px;
}
