include ../../pug/mixins/mixins.pug

.card
    h1.card__title Регистрация аккаунта
    +inputCard({
        modifier: "--mb10",
        text: "Имя"
        })
    +inputCard({
        modifier: "--mb10",
        text: "Фамилия"
        })
    input.card__radioButton(type="radio" id="radio-1" name="radio")
    label.card__radioLabel(for="radio-1") Мужчина
    input.card__radioButton(type="radio" id="radio-2" name="radio")
    label.card__radioLabel(for="radio-2") Женщина
    h3.card__titleInput дата рождения
    +inputCard({
        modifier: "--mb20",
        text: "ДД.ММ.ГГГГ"
        })
    h3.card__titleInput данные для входа в сервис
    +inputCard({
        modifier: "--mb10",
        text: "Email"
        })
    +inputCard({
        modifier: "--mb10",
        text: "Пароль"
        })
    input.card__toggleButton(type="checkbox" id="toggleButton")
    label(for="toggleButton" class="text") Получать спецпредложения
    +buttonGradient({
        modifier: "--mb30",
        text: "перейти к оплате"
        })
    .textButton
        .textButton__caption Уже есть аккаунт на Toxin 
        +buttonGradientBorder({
        text: "войти"
        })