.card
    h1.card__title Регистрация аккаунта
    .card__input-wrapper
        +inputCard({
            text: "Имя"
        })

    .card__input-wrapper
        +inputCard({
            text: "Фамилия"
        })

    .card__radio-wrapper
        +radioButton({
            id: 'radio-card',
            text: 'Мужчина'
        })

        +radioButton({
            id: 'radio-card2',
            text: 'Женщина'
        })

    .card__title-date
        .card__title-wrapper
            h3.card__title-text дата рождения
        +inputCard({
            text: "ДД.ММ.ГГГГ"
        })

    .card__input-wrapper
        .card__title-wrapper
            h3.card__title-text данные для входа в сервис
        +inputCard({
            text: "Email"
        })
    .card__input-wrapper
        +inputCard({
            text: "Пароль"
        })

    .card__toggle
        input.card__toggleButton(type="checkbox" id="toggleButton")
        label(for="toggleButton" class="text") Получать спецпредложения
        
    .card__gradient-btn
        +buttonGradient({
            text: "перейти к оплате",
            arrow: true
        })

    .textButton
        .textButton__caption Уже есть аккаунт на Toxin 
        .card__border-gradient
            +buttonGradientBorder({
            text: "войти"
            })