.reg-card
     .reg-card__title
         h1 
             span  Регистрация аккаунта
     .reg-card__input
         .first-name.mb-10
              input(type="text" class="input-padding" placeholder="Имя")
         .last-name.mb-10
              input(type="text" class="input-padding" placeholder="Фамилия")
     .reg-card__radio
         .radio
              input(type="radio" id="radio-1" name="radio")
              label(for="radio-1" class="radio-label")
                  span Мужчина
              input(type="radio" id="radio-2" name="radio")
              label(for="radio-2" class="radio-label")
                  span Женщина
     .reg-card__title-text
          h3
              span дата рождения
     .reg-card__input.mb-20
          input(type="text" class="input-padding" placeholder="ДД.ММ.ГГГГ")
     .reg-card__title-text
         h3
              span данные для входа в сервис
     .reg-card__input
          .email.mb-10
              input(type="text" class="input-padding" placeholder="Email")
          .pass.mb-10
              input(type="text" class="input-padding" placeholder="Пароль")
     .reg-card__toggle-button.mb-20 
          input(type="checkbox" id="toggle-button" class="toggle-button")
          label(for="toggle-button" class="text") 
              span.gray Получать спецпредложения
     .reg-card__pay-button
         form
             button(class="pay-button")
                 span перейти к оплате
     .reg-card__entry
         .entry-caption Уже есть аккаунт на Toxin 
         .entry-button
                  button(class="entry")
                      span войти  