.reg-card
     .reg-card__title Регистрация аккаунта
          .reg-card__imput
               p 
                    input(type="text" placeholder="Имя")
               p
                    input(type="text" placeholder="Фамилия")
          .reg-card__radio
               input(type="radio")
               input(type="radio")