@mixin Colors {  
    //--------Base color Website--------

    $DarkShadeBaseColor: #1F2041;
    $PurpleBaseColor: #BC9CFF;
    $GreenBaseColor: #6FCF97;

    //---------------------------------- 

    //----For button gradient color-----

    $PurpleGradientColor: #8BA4F9;
    $GreenGradientColor: #66D2EA;

    //---------------------------------- 
}