+colorBox({
    modifier: '-darkShade',
    title: 'Dark Shade 100%',
    subtitle: '#1F2041'
})

+colorBox({
    modifier: '-darkShade75',
    title: 'Dark Shade 75%',
    subtitle: '#1F2041'
})

+colorBox({
    modifier: '-darkShade50',
    title: 'Dark Shade 50%',
    subtitle: '#1F2041'
})

+colorBox({
    modifier: '-darkShade25',
    title: 'Dark Shade 25%',
    subtitle: '#1F2041'
})

+colorBox({
    modifier: '-darkShade5',
    title: 'Dark Shade 5%',
    subtitle: '#1F2041'
})

+colorBox({
    modifier: '-purple',
    title: 'Purple',
    subtitle: '#BC9CFF'
})

+colorBox({
    modifier: '-green',
    title: 'Green',
    subtitle: '#6FCF97'
})