include ../../blocks/colorBox/colorBox.pug
include ../../blocks/typeText/typeText.pug


.logo-kit

.color-types
  .color-types__card
    .color-types__item 
      +colorBox({
          modifier: '_dark-shade',
          title: 'Dark Shade 100%',
          subtitle: '#1F2041'
      })
    .color-types__item  
      +colorBox({
          modifier: '_dark-shade75',
          title: 'Dark Shade 75%',
          subtitle: '#1F2041'
      })
    .color-types__item 
      +colorBox({
          modifier: '_dark-shade50',
          title: 'Dark Shade 50%',
          subtitle: '#1F2041'
      })
    .color-types__item 
      +colorBox({
          modifier: '_dark-shade25',
          title: 'Dark Shade 25%',
          subtitle: '#1F2041'
      })
    .color-types__item 
      +colorBox({
          modifier: '_dark-shade5',
          title: 'Dark Shade 5%',
          subtitle: '#1F2041'
      })
    .color-types__item 
      +colorBox({
          modifier: '_purple',
          title: 'Purple',
          subtitle: '#BC9CFF'
      })
    .color-types__item 
      +colorBox({
          modifier: '_green',
          title: 'Green',
          subtitle: '#6FCF97'
      })

  .color-types__text-card
    +typeText({
      title: 'H1',
      text: 'This one is the sub-section or widget title',
      size: 'large'
    })

    +typeText({
      title: 'H2',
      text: 'Next one is the item title inside widgets',
      size: 'medium'
    })

    +typeText({
      title: 'H3',
      text: 'This is a label or CTA text',
      size: 'small'
    })

    +typeText({
      title: 'Body',
      text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
      size: 'default'
    })