.color-types {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 140px;
  padding: 0 20px 0 20px;
  &__text-card {
    max-width: 40%;
  }
  &__item {
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
  }
}