+sliderCard({
  img: 'room_1.png',
  number: '888',
  price: '9 990₽',
  reviews: '145',
  rate: '5',
  luxury: true   
  })

//- +sliderCard({
//-   img: 'room_2.png',
//-   number: '840',
//-   price: '9 990₽',
//-   reviews: '65',
//-   rate: '4',
//-   luxury: false
//-   })
      