<link rel="stylesheet" href="https://i.icomoon.io/public/temp/3bbebc5ce0/UntitledProject/style.css">
.dropdown-date
.dropdown-date__wrapper
    .dropdown-date__arrival
        .dropdown-date__name date Dropdown
        .dropdown-date__form
            input.dropdown-date__range.dropdown-date__range_from(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
            span.dropdown-date__arrow.dropdown-date__arrow_down
    .dropdown-date__departure
        .dropdown-date__name date Dropdown
        .dropdown-date__form
            input.dropdown-date__range.dropdown-date__range_to(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
            span.dropdown-date__arrow.dropdown-date__arrow_down