h3, p {
    margin: 0;  //вынести в общий файл
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    font-family: $BoldFont; //переделать
    font-size: $FontSizeH1;
}

.card {
    width: 320px;
    box-shadow: 0 0 25px $BoxShadowCard;
    border-radius: 4px;
    padding: 40px 30px 30px 30px;

    margin: 50px; //Delite late

    //  .card__title

    &__title {
        font-size: $FontSizeH1;
    }

    // .card__toggleButton

    &__toggleButton {
        margin-bottom: 20px;
    }

    // .card____titleInput

    &__titleInput {
        margin-bottom: 5px;
        & p {
            text-transform: uppercase;
            font-family: $BoldFont;
            font-size: $FontSizeH3;
        }
    }
    &__radioButton {
        margin-bottom: 23.56px;
    }
    & .text {
        display: inline-block; //переделать класс лэйбл
    }
}

//-------------Radio Button----------//

[type="radio"] {
    &:checked,
    &:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    &:checked + label,
    &:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }
    &:checked + label:before,
    &:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 100%;
        background: #fff;
    }
    &:checked + label:after,
    &:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: linear-gradient(180deg, $PurpleBaseColor 0%, $PurpleGradientColor 100%);
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
    }
    &:not(:checked) + label:after {
        opacity: 0;
    }
    &:not(:checked) + label {
        color: rgba(31, 32, 65, 0.5);
    }
    &:checked + label:before {
        border: 1px solid $PurpleBaseColor;
    }

}

.radio-label {
    margin-right: 20px;
}

label p {
    font-family: $RegularFont;
    font-size: $FontSizeBody;
}

//-----------------------------------//


.toggle-button {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 10px;
    &:checked {
        border: 1px solid $PurpleBaseColor;
    }
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 12px;
        height: 12px;
        background-color:rgba(31, 32, 65, 0.25);;//Нужно подумать как связать с миксинами цвета и управлять альфа каналом
        ;
        border-radius: 50%;
        transform: translateX(0);
        transition: 0.3s;
    }
    &:checked::after {
        transform: translateX(calc(100% + 8px));
        background: linear-gradient(180deg, $PurpleBaseColor 0%, $PurpleGradientColor 100%);
    }
}

.gray {  //Переделать класс, переименовать
    font-family: $RegularFont;
    font-size: $FontSizeBody;
    color: rgba(31, 32, 65, 0.75); //Нужно подумать как связать с миксинами цвета и управлять альфа каналом
}