.card {
    width: 320px;
    box-shadow: 0 0 25px $boxShadowCard;
    border-radius: 4px;
    padding: 39px 29px 30px 29px;
    background-color: #fff;

    &__input-wrapper {
        margin-bottom: 10px;
    }

    &__more-wrapper {
        display: flex;
        justify-content: space-between;
        width: 250px;
    }

    &__title-text {
        font-family: $boldFont;
        font-size: $fontSizeH3;
        text-transform: uppercase;
    }

    &__radio-wrapper {
        margin-bottom: 24px;
    }

    &__date-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
    }

    &__total-wrapper {
        margin-bottom: 20px;
    }

    &__date-item {
        width: 150px;
    }

    &__dropdown-item {
        margin-bottom: 31px;
    }

    &__price-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    &__total-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $boldFont;
        font-size: $fontSizeH2;
        & h2 {
            font-size: $fontSizeH2;
        }
    }

    &__price-list {
        line-height: 18px;
        margin-bottom: 30px;
        font-size: $fontSizeBody;
        color: color(primary-75);
    }

    &__title-wrapper {
        margin-bottom: 6px;
    }

    &__title-date {
        margin-bottom: 20px;
    }

    &__input-entry {
        margin-bottom: 20px;
    }

    &__gradient-btn {
        margin-bottom: 30px;
    }

    &__border-gradient {
        width: 99px;
    }

    &__title {
        margin: 0;
        margin-bottom: 23px;
        font-family: $boldFont; //переделать
        font-size: $fontSizeH1;
        line-height: 29px;
    }

    &__toggleButton {
        margin-bottom: 20px;
    }

    &__titleInput {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-family: $boldFont;
        font-size: $fontSizeH3;
    }
    & .text {
        display: inline-block; //переделать класс лэйбл
    }
    &__border-dashed {
        width: 57%;
        height: 20px;
        border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
    }
    &__button-wrapper {
        height: 44px;
    }
    &__text-button {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__text-button-caption {
        text-align: center;
        font-family: $regularFont;
        font-size: $fontSizeBody;
    }
}