mixin inputCard(modifier,name)
    input.inputCard(type="text" class="inputCard" + modifier placeholder=name)


mixin buttonGradient(modifier,text)
    button.buttonGradient(class="buttonGradient" + modifier)
        span=text
        img(src="../blocks/regCard/arrow_forward.png", alt="")


mixin buttonGradientBorder(modifier,text)
    button.buttonGradientBorder(class="buttonGradientBorder" + modifier)
        span=text