mixin inputCard(value,name)
    .inputCard(class="inputCard" + value)
        input(type="text" class="inputCard--style" placeholder=name)


mixin buttonGradient(value,text,height)
    .button-gradiend(class="" + value)
         form
             button(class="button-gradiend_style" + " " + height)
                 span=text
                 img(src="../blocks/regCard/arrow_forward.png", alt="")


mixin buttonOutGradient(value,text)
    .button-bg-out
        button(class="button-bg-out_style" + " " + value)
            span=text