.dropdown(style='margin-left:30px;margin-top:30px;')
  .button  My Setting 
  ul
    li
      .num-block.skin-2
        | спальни
        .num-in
          span.minus.dis
          input.in-num(type='text' value='1' readonly='')
          span.plus
    li
      .num-block.skin-2
        | кровати
        .num-in
          span.minus.dis
          input.in-num(type='text' value='1' readonly='')
          span.plus
    li
      .num-block.skin-2
        | ванные комнаты
        .num-in
          span.minus.dis
          input.in-num(type='text' value='1' readonly='')
          span.plus