.dropdown(style='width: 300px; margin: 20px')
  .dropdown__button  
    span#textValue1
    span#textValue2
    span#textValue3
  .dropdown__list
    .dropdown__item
      #handleCounter.handle-counter спальни
        button.counter-minus.btn.btn-primary -
        input(type='text' value='0' readonly='')
        button.counter-plus.btn.btn-primary +
    .dropdown__item
      #handleCounter2.handle-counter кровати
        button.counter-minus.btn.btn-primary -
        input(type='text' value='0' readonly='')
        button.counter-plus.btn.btn-primary +
    .dropdown__item
      #handleCounter3.handle-counter ванные комнаты
        button.counter-minus.btn.btn-primary -
        input(type='text' value='0' readonly='')
        button.counter-plus.btn.btn-primary +