.footer {
    height: 372px;
    padding: 104px 140px 100px 140px;
    border-top: 1px solid black;
    display: flex;
    box-shadow: 0px 1px 0px $boxShadowCard;
    justify-content: space-between;
    &__colLogo {
        max-width: 260px;
        margin-right: 40px;
        font-size: $fontSizeBody;
        color: color(primary-75);
        line-height: 24px;
    }
    &__col {
        margin-right: 20px; //изменить позже, сейчас что бы не прилипали блоки
        & p {
            font-size: $fontSizeBody;
            color: color(primary-75);
            line-height: 24px;
            margin-bottom: 20px;
        }
    }
    &--darkText {
        text-transform: uppercase;
        font-size: $fontSizeH3;
        color: $darkShadeBase;
        margin-bottom: 21px;
    }
    &--mb20 {
        margin-bottom: 20px;
    }
    &--maxWidth {
        max-width: 260px;
        margin-right: 0; //подумать как поменять
    }
    &__inputImage {
        position: relative;
        vertical-align: middle;
    }
    &__social {
        height: 70px;
        box-shadow: 0px 10px 20px $boxShadowCard;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 140px 0 140px;
        & p {
            color: color(primary-75);
            font-size: $fontSizeBody;
        }
    }
    &__link  {
        display: flex;
        flex-wrap: nowrap;
    }
    &__link a:hover {
        opacity: 50%;
        transition: 0.2s;
    }
    &__formSend {
        position: relative;
    }
    input[type="submit"] {
        background: url(../img/arrow_forward_email.png) no-repeat 50% 50%;
        height: 44px;
        width: 44px;
        position: absolute;
        right: -30px;
        top: 1px;
        border: none;
    }
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin-right: 20px;
}

.sprite-facebook {
    width: 22px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-inst {
    width: 22px;
    height: 22px;
    background-position: -37px -5px;
}

.sprite-twitter {
    width: 24px;
    height: 20px;
    background-position: -5px -37px;
}