header.header
    .logo
        a(href="#") 
    nav.header__nav
        a.header--active(href="#") О нас
        a(href="#") Услуги
        a(href="#") Вакансии
        a(href="#") Новости
        a(href="#") Соглашения
        .header__button
            .header__button-enter
                +buttonGradientBorder({
                    text: 'войти'
                })
            .header__button-reg
                +buttonGradient({
                    text: 'зарегистрироваться'
                })