.header {
    height: 70px;
    padding: 0 140px 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        align-items: center;
    }
    &__nav a {
        margin-right: 20px;
    }
    &--active {
        font-family: $boldFont;
        color: color(primary-75);
    }
}

.expandMore {
    background: url('../img/expand_more.png') no-repeat 50% 50%;
    width: 24px;
    height: 21px;
}