mixin buttonGradientBorder({text, hover= false})
  if hover == true
    button.button-gradient-border.button-gradient-border_hover
      span=text
  else 
     button.button-gradient-border
      span=text