.textButton {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    // .textButton__caption

    &__caption {
        text-align: center;
        font-family: $RegularFont;
        font-size: $FontSizeBody;
    }
}