.like {
	border: 1px solid #1F204140;
	border-radius: 10px;
	display: flex;
	position: relative;
	background-color: transparent;
	&::after {
		content: ' ';
		position: absolute ;
		top: 26%;
		left: 3px;
		background: url('../img/favorite_border.svg') no-repeat; 
		width: 10px;
		height: 9px;
	}
	&:focus {
		outline: none;
	}
}

.likes {
	font-size: 10px;
	margin: 1px 3px 1px 15px;
	color: #1F204140;
}

.active {
    border: solid 1px $purpleBase;
	&::after {
		background: url('../img/favorite.svg') no-repeat; 
	}
	& span {
		color: #BC9CFF;
	}
}