.logoKitUi
  +logoKit()
.header-wrapper
    include ../../pug/modules/header/header.pug

.header-wrapper
    include ../../pug/modules/header/header.pug

.footer-wrapper 
    include ../../pug/modules/footer/footer.pug

.footer-creative-wrapper 
    .footer-creative 
      .logo
      .footer-creative__cop
        p Copyright © 2018 Toxin отель. Все права зачищены.
      .social-link
        a(href="#").sprite.sprite-twitter
        a(href="#").sprite.sprite-facebook
        a(href="#").sprite.sprite-inst