.inputCard {
    width: 289px;
    height: 16px;
    border: 1px solid rgba(31, 32, 65, 0.25);//Нужно подумать как связать с миксинами цвета и управлять альфа каналом
    border-radius: 4px;
    padding: 0;
    font-family: $regularFont;
    font-size: $fontSizeBody;
    padding: 13px 15px 13px 14px;
    &--mb10 {
        margin-bottom: 10px;
    }
    &--mb20 {
        margin-bottom: 20px;
    }
    &--minWidth {
        width: 100%; //переделать, не правильно работает
    }
    &::-webkit-input-placeholder {
        color: color(primary-25);
    }
    &:focus {
        border: 1px solid color(primary-50);
    }
    &:hover {
        border: 1px solid color(primary-50);
    }
    &:hover::placeholder {
        color: color(primary-75);
    }
    &:focus::placeholder {
        color: color(primary-75);
    }
    &--active::placeholder {
        color: color(primary-75);
    }
    &--active {
        border: 1px solid color(primary-50);
    }
}