include ../../pug/mixins/mixins.pug

.card-shadow
     .title-card
         h1
             span  Регистрация аккаунта
     +inputCard("mb-10","Имя")
     +inputCard("mb-10","Фамилия")
     .reg-card__radio-button
         input(type="radio" id="radio-1" name="radio")
         label(for="radio-1" class="radio-label")
             span Мужчина
         input(type="radio" id="radio-2" name="radio")
         label(for="radio-2" class="radio-label")
             span Женщина
     .reg-card__title-input
          h3
              span дата рождения
     +inputCard("mb-20","ДД.ММ.ГГГГ")
     .reg-card__title-input
         h3
              span данные для входа в сервис
     +inputCard("mb-10","Email")
     +inputCard("mb-10","Пароль")
     .reg-card__toggle-button.mb-20 
          input(type="checkbox" id="toggle-button" class="toggle-button")
          label(for="toggle-button" class="text") 
              span.gray Получать спецпредложения
     +payButton("mb-30", "перейти к оплате", "")
     .text-button
         .text-button__caption Уже есть аккаунт на Toxin 
         +buttonOut("","войти")