include ../../blocks/toggleButton/toggleButton.pug
include ../../blocks/inputCard/inputCard.pug
include ../../blocks/buttonGradient/buttonGradient.pug
include ../../blocks/buttonGradientBorder/buttonGradientBorder.pug
include ../../blocks/checkBox/checkBox.pug
include ../../blocks/radioButton/radioButton.pug
include ../../blocks/rateBtn/rateBtn.pug
include ../../blocks/linkText/linkText.pug
include ../../blocks/configuration-dropdown/configuration-dropdown.pug
include ../../blocks/datepicker/datepicker.pug



.logoKit

.cards-content
    .cards-column
        .cards-wrapper
            .card
                h1.card__title Найдём номера под ваши пожелания
                .card__date-wrapper
                    .card__date-item
                        .card__title-wrapper
                            h3.card__title-text прибытие
                        +datepicker({
                            from: true,
                            placeholder: "ДД.ММ.ГГГГ"
                        })
                    .card__date-item
                        .card__title-wrapper
                            h3.card__title-text выезд
                        +datepicker({
                            to: true,
                            placeholder: "ДД.ММ.ГГГГ"
                        })

                .card__dropdown-item.card__dropdown-guest
                    .card__title-wrapper
                        h3.card__title-text гости
                    +configuration-dropdown()
                    
                +buttonGradient({
                    text: "подобрать номер",
                    arrow: true
                })


            //-================================REGISTRATION CARD==================================//
        .cards-wrapper
            .card
                h1.card__title Регистрация аккаунта
                .card__input-wrapper
                    +inputCard({
                        text: "Имя"
                    })

                .card__input-wrapper
                    +inputCard({
                        text: "Фамилия"
                    })

                .card__radio-wrapper
                    +radioButton({
                        id: 'radio-card',
                        text: 'Мужчина'
                    })

                    +radioButton({
                        id: 'radio-card2',
                        text: 'Женщина'
                    })

                .card__title-date
                    .card__title-wrapper
                        h3.card__title-text дата рождения
                    +inputCard({
                        text: "ДД.ММ.ГГГГ"
                    })

                .card__input-wrapper
                    .card__title-wrapper
                        h3.card__title-text данные для входа в сервис
                    +inputCard({
                        text: "Email"
                    })
                .card__input-wrapper
                    +inputCard({
                        text: "Пароль"
                    })

                .card__toggle
                    +toggleButton({
                        id: "toggle-button",
                        text: "Получать спецпредложения"
                    })
                    
                .card__gradient-btn
                    +buttonGradient({
                        text: "перейти к оплате",
                        arrow: true
                    })

                .textButton
                    .textButton__caption Уже есть аккаунт на Toxin 
                    .card__border-gradient
                        +buttonGradientBorder({
                        text: "войти"
                        })


    //-================================PRICE CARD==================================//
    .cards-column
        .cards-wrapper
            .card
                +hotelNumber ({
                    luxury: true,
                    number: '888',
                    price: '9 990₽',
                })
                .card__date-wrapper
                    .card__date-item
                        .card__title-wrapper
                            h3.card__title-text прибытие
                        +datepicker({
                            from: true,
                            placeholder: "19.08.2019"
                        })
                    .card__date-item
                        .card__title-wrapper
                            h3.card__title-text выезд
                        +datepicker({
                            to: true,
                            placeholder: "23.08.2019"
                        })
                .card__dropdown-item.card__dropdown-guest-value
                    .card__title-wrapper
                        h3.card__title-text гости
                    +configuration-dropdown()
                .card__price-list
                    .card__price-item 
                        p 9 990₽ х 4 суток
                        span 39 960₽
                    .card__price-item 
                        .card__more-wrapper
                            p Сбор за услуги: скидка 2 179₽
                            .i-more-wrapper
                                .i-more
                                    span.i-more-text i
                        span 0₽
                    .card__price-item 
                        .card__more-wrapper
                            p Сбор за дополнительные услуги
                            .i-more-wrapper
                                .i-more
                                    span.i-more-text i
                        span 300₽
                .card__total-wrapper
                    .card__total-item
                        h2 Итого
                        .border-dashed
                        span 38 081₽
                +buttonGradient({
                    text: "забронировать",
                    arrow: true
                })

        //-================================ENTRY CARD==================================//
        .cards-wrapper
            .card
                h1.card__title Войти
                .card__input-entry
                    .card__input-wrapper
                        +inputCard({
                            text: "Email"
                        })

                    .card__input-wrapper
                        +inputCard({
                            text: "Пароль"
                        })
                    
                .card__gradient-btn
                    +buttonGradient({
                        text: "войти",
                        arrow: true
                    })

                .textButton
                    .textButton__caption Нет аккаунта на Toxin?
                    .card__border-gradient
                        +buttonGradientBorder({
                        text: "создать"
                        })


    //-================================INLINE CALENDAR==================================//
    .cards-column
        .cards-wrapper
            .calendar_inline


        .cards-wrapper
            +sliderCard({
            img: 'room_1.png',
            number: '888',
            price: '9 990₽',
            reviews: '145',
            rate: '5',
            luxury: true   
            })

            +sliderCard({
            img: 'room_2.png',
            number: '840',
            price: '9 990₽',
            reviews: '65',
            rate: '4',
            luxury: false
            })